link-workspace-packages=false
prefer-workspace-packages=true
ignore-workspace-cycles=true
enable-pre-post-scripts=true
recursive-install=true

save-workspace-protocol=rolling
strict-peer-dependencies=false
save-prefix=""
